*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #000;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .5rem;
}

.container form{
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.container form input{
  width: 100%;
  height: inherit;
  padding-left: .5rem;
  font-size: 1rem;
}

.container form button{
  height: inherit;
  padding: 0 .5rem;
  font-weight: bold;
}

.container .all{
  width: 25rem;
  margin-top: 1rem;
}

.container .all .single{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  margin-bottom: .5rem;
  height: 2.7rem;
  background-color: aquamarine;
  padding: .5rem;
}

.container .all .single p{
  width: 20rem;
  height: inherit;
  text-align: center;
  display: grid;
  place-items: center;
}

.container .all .single div{
  width: 5rem;
  /* border: 1px solid #000; */
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .2rem;
}

.container .all .single div button{
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.container .all .single div .e{
  background-color: green;
}

.container .all .single div .d{
  background-color: red;
}